html {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #000000;
}

#animateBtn {
  text-align: center;
}

canvas {
  display: block;
  padding-bottom: 5px;
}

.imgHeading {
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content div {
  margin: 5px;
}